{% for user in users %}
    <div>
        {{ user.prenom }}
         <a href="{{ path('profil_show', {'id': user.id}) }}"><img src="{{ asset('/uploads/avatars/' ~ user.avatar) }}" alt="Avatar de {{ user.nom }}" /></a>
    </div>
{% else %}
    Aucun coach disponible.
{% endfor %}