{% for user in users %}
    <div id="etiquette">
        <li class="identite">
            <div class="nom-prenom">
                <a href="#" title="">
                    <p>{{ user.prenom }}</p>
                </a>
            </div>
            <a href="{{ path('profil_show', {'id': user.id}) }}"><img src="{{ asset('/uploads/avatars/' ~ user.avatar) }}" alt="Avatar de {{ user.prenom }}" /></a>
        </li>
{% else %}
    Aucun coach disponible.
{% endfor %}