{% extends 'front/base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
    <div id="esprecherche"></div>
    <div id="wrap-recherche">
        <div id="containerecherche">
            <h1 id="titrerecherche">Recherche ton coach</h1>
            {{ include('front/coach/_form.html.twig') }}

            <div id="resultrecherche">
                {{ include('front/coach/coach.html.twig') }}
            </div>
        </div>
    </div>


{% endblock %}
