{#<!-- Opposite sidebar -->#}
{#<div class="sidebar sidebar-opposite sidebar-default">#}
{#  <div class="sidebar-content">#}

{#    <!-- Sidebar search -->#}
{#    <div class="sidebar-category">#}
{#      <div class="category-title">#}
{#        <span>Search</span>#}
{#        <ul class="icons-list">#}
{#          <li><a href="#" data-action="collapse"></a></li>#}
{#        </ul>#}
{#      </div>#}

{#      <div class="category-content">#}
{#        <form action="#">#}
{#          <div class="has-feedback has-feedback-left">#}
{#            <input type="search" class="form-control" placeholder="Search">#}
{#            <div class="form-control-feedback">#}
{#              <i class="icon-search4 text-size-base text-muted"></i>#}
{#            </div>#}
{#          </div>#}
{#        </form>#}
{#      </div>#}
{#    </div>#}
{#    <!-- /sidebar search -->#}

{#    <!-- Sub navigation -->#}
{#    <div class="sidebar-category">#}
{#      <div class="category-title">#}
{#        <span>Navigation</span>#}
{#        <ul class="icons-list">#}
{#          <li><a href="#" data-action="collapse"></a></li>#}
{#        </ul>#}
{#      </div>#}

{#      <div class="category-content no-padding">#}
{#        <ul class="navigation navigation-alt navigation-accordion">#}
{#          <li class="navigation-header">Actions</li>#}
{#          <li><a href="#"><i class="icon-googleplus5"></i> Create task</a></li>#}
{#          <li><a href="#"><i class="icon-portfolio"></i> Create project</a></li>#}
{#          <li><a href="#"><i class="icon-compose"></i> Edit task list</a></li>#}
{#          <li><a href="#"><i class="icon-user-plus"></i> Assign users <span class="label label-primary">94 online</span></a></li>#}
{#          <li><a href="#"><i class="icon-collaboration"></i> Create team</a></li>#}
{#          <li class="navigation-header">Navigate</li>#}
{#          <li><a href="#"><i class="icon-files-empty"></i> All tasks</a></li>#}
{#          <li><a href="#"><i class="icon-file-plus"></i> Active tasks <span class="badge badge-default">28</span></a></li>#}
{#          <li><a href="#"><i class="icon-file-check"></i> Closed tasks</a></li>#}
{#          <li class="navigation-divider"></li>#}
{#          <li><a href="#"><i class="icon-reading"></i> Assigned to me <span class="badge badge-info">86</span></a></li>#}
{#          <li><a href="#"><i class="icon-make-group"></i> Assigned to my team <span class="badge badge-danger">47</span></a></li>#}
{#          <li class="navigation-divider"></li>#}
{#          <li><a href="#"><i class="icon-cog3"></i> Settings</a></li>#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
{#    <!-- /sub navigation -->#}
{#  </div>#}
{#</div>#}
{#<!-- /opposite sidebar -->#}