{% extends 'front/base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <main>
        <div class="fond fond-connexion">
            <div class="wrap">
                <div class="formulaire formulaire-connexion">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}

                        <h1 class="titre-formulaire h3 mb-3 font-weight-bold">Connexion</h1>

                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">

                        <button class="bouton-connexion btn" type="submit">
                            Connexion
                        </button>
                        <a href="{{ path('app_forgotpassword') }}" class="mdp-oublie">Mot de passe oublié</a>

                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
