{% extends 'front/base.html.twig' %}

{% block title %}Reset mot de passe{% endblock %}

{% block body %}
    <form method="post">

        <h1 class="h3 mb-3 font-weight-normal">Nouveau mot de passe</h1>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <label for="inputPassword" class="sr-only">Confirmation mot de passe</label>
        <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Password" required>




        <button class="btn btn-lg btn-primary" type="submit">
            Soumettre
        </button>
    </form>
{% endblock %}