{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="fond">
        <div class="formulaire-inscription">
{#            {% include 'registration/register.html.twig' %}#}
        </div>
    </div>
{% endblock %}
