{% extends '@AdminBundle/base.html.twig' %}

{% block title %}Accueil back{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block content %}
    <h1>Accueil back</h1>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('asset_back/js/main.js') }}"></script>
{% endblock %}