{% extends 'back.html.twig' %}

{% block title %}Accueil back{% endblock %}

{% block body %}
    <h1>Accueil back</h1>
{% endblock %}
{% block javascript %}
<script src="{{ asset('asset_back/js/main.js') }}"></script>
{% endblock %}