*{
    padding:0;
    margin:0;
}
.intro-form { 
    color: #fff;
}

#recherche{

    margin:  10%;
    width: 80%;
    padding: 0 35px;
    border-radius:5px;
    box-shadow: -5px 5px 10px 2px rgba(0,0,0,0.75);
    font-weight: bold;
}

.po{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
#sma{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin-top:10px;
    margin-bottom:10px;
}


/*Recherche*/




.inputsport{
    /*border-radius: 4px 0 0 4px;*/
    display: inline-block;
    border-color: transparent;
    height: 40px;
    margin-right:-3px;
}
.inputville{
    display: inline-block;
    /*border-radius: 0 4px 4px 0;*/
    /*border-color: transparent;*/
    height: 40px;

}
.btrecherche{
    border-radius: 3px;
    /*border-color: transparent;*/
    width:100%;
    height: 40px;
    background-color: slategray;
}

.container-accueil{
    padding: 150px 300px ;
    background-image: url(../img/fitness.jpg);
}





@media screen and (max-width: 900px){
    #recherche{
        margin:auto;
    }
    .inputville{
        border-radius: 3px;
        height: 40px;
        width: 100%;
    }
    .inputsport{
        border-radius: 3px;
        height: 40px;
        width: 100%;
    }
    .btrecherche{
        border-radius: 3px;
        border-color: transparent;
        width: 100%;
    }
    .container{
        padding: 320px 50px 0;
    }
}

@media (min-width: 768px){
    #recherche{
        margin:auto;
    }
    .container {
        max-width:none;
        width:80%;
    }
}

@media (min-width: 576px){
    #recherche{
        margin:auto;
    }
    .container {
        max-width:none;
        width:80%;
    }
}