html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* clear */
.clear:before,.clear:after { content:' '; display:table; }
.clear:after { clear:both; }
.clear { *zoom:1;}

*,
*:after,
*:before {
 -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
         box-sizing: border-box; /* Opera/IE 8+ */
}

/***************** Variable ************************/

:root {
    --Couleur-principale: coral;
    --h2-size: 30px;
}

/***************** Style CSS ***********************/

.wrap {
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
  
}

/*header*/

header.page-header {
    height: 100px;
    background-color: var(--Couleur-principale);
}
.header-logo{
    
    float:left;
    margin-left:2%;
}
.header-logo img{
height:80px;
padding-top:10px;
}
ul.nav.navbar {
    float:right;
    padding-top: 40px;
}
.nav.navbar li a{
    float:left;
    color:black;
    border: solid 1px darkgrey ;
    border-radius: 15px;
    margin-left: 10px;
    padding: 5px;
}

/*Inscription*/
.fond {
    background: url("../img/coureur.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
.wrap {
    max-width: 1200px;
}
.formulaire-inscription {
    margin: 200px 5%;
    float: right;
    width: 40%;
    padding: 0 35px;
    background-color: ghostwhite;
    opacity: 0.95;
    border-radius:5px;
    box-shadow: -5px 5px 10px 2px rgba(0,0,0,0.75);
}
.titre-inscription{
    font-size: var(--h2-size);
    padding: 20px 0 20px 10px;
}
#registration_form_submit {
    background-color: var(--Couleur-principale);
    border: none;
    width: 100%;
}
/*footer*/

footer{
    background-color: var(--Couleur-principale);
}
.reseaux i{
    padding-right: 30px;
}
.colone hr{
    width:30%;
    background-color:black;
    height:10px;
}

.colones{
    margin-left:-2%;
    height:auto;
}
.colone{
    float:left;
    width:31.3333333333333%;
    margin-left: 2%;
}


.logo-bas{
    float:right;
    padding-right: 15px;
}
.liens-footer li a{
    color:black;   
}

/*bottom bar*/
.bottom-bar {
    width:100%;
    background-color: beige;
    text-align: center;
}
.bottom-bar p{
    padding-top: 5px;
}

.bottom-bar p span{
    color:red;
}

ul.nav-footer{
    padding-top: 5px;
}
.nav-footer li {
    display: inline-block;
}
.nav-footer li a {
    color:black;
}
