html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* clear */
.clear:before,.clear:after { content:' '; display:table; }
.clear:after { clear:both; }
.clear { *zoom:1;}

*,
*:after,
*:before {
 -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
         box-sizing: border-box; /* Opera/IE 8+ */
}

/***************** Variable ************************/

:root {
    --Couleur-principale: coral;
}

/***************** Style CSS ***********************/

.wrap {
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*header*/

header {
    background-color: var(--Couleur-principale);
    opacity: 0.96;
    height:100px;
    position: sticky;
    top: 0; 
    z-index: 100;   
}
#logo{ 
    float:left; 
    padding-top:10px;
}
#logo img{
    height:80px;
}

/*menu classique*/

#logo, nav, li {
    display: inline-block;
    line-height: 48px;
    vertical-align: top;
}
nav {
    display: inline-block;
    line-height: 48px;
    vertical-align: top;
    margin-right: 30px;
}
li a, .button {
    text-decoration: none; 
    color:black;
    border: solid 1px black ;
    border-radius: 15px;
    margin-left: 10px;
    padding: 5px;
}
.button {
    text-transform: uppercase;
    float: right;
    margin-top: -16px;
    line-height: 84px;
    height: 84px;
    text-decoration: none;
    padding: 0 16px;
}
#hamburger, #hamburger-content {
    display: inline;
}
#hamburger-content{
    float:right;
    margin-top:27px;
}
#hamburger-button {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 30px;
    line-height: 47px;
    float: right;
    margin-right: 32px;
    margin-top:19px;
}
#hamburger-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}
#hamburger-sidebar {
    display: none;
    position: fixed;
    width: 84%;
    z-index: 20;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform .5s ease-in;
}
#hamburger-sidebar li {
    display: block;  
}
#hamburger-sidebar-header {
    background-size: cover;
    height: 100px;
    text-align:center;
    background-color: white;
}
#hamburger-sidebar-header img{
    height:100%; 
}
#hamburger-sidebar-body {
    padding: 16px 8px;
    background-color: rgba(122, 117, 117, 0.2);
    text-align: center;
}
#hamburger-sidebar-body li a{
    border:0px;
}
.content{
    height:500px;
}
/*Inscription - connexion*/

.fond-inscription {
    background: url("../img/coureur.jpg");
    background-position: top;
}
.fond-connexion {
    background: url("../img/salle_fitness.jpg");
    background-position: bottom;
}
.fond{
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.formulaire {
    margin: 200px 5%;
    float: right;
    width: 40%;
    padding: 0 35px;
    background-color: ghostwhite;
    border-radius:5px;
    box-shadow: -5px 5px 10px 2px rgba(0,0,0,0.75);
}
.formulaire-inscription{
    opacity: 0.95;
}
.formulaire-connexion{
    font-weight: bold;
    opacity: 0.80;
}
.titre-inscription{
    font-weight: bold;
    padding: 20px 0 10px 20px;
}
#inputEmail {
    margin-bottom: 25px;
}
#inputPassword {
    margin-bottom: 40px;
}
#registration_form_submit, .bouton-connexion {
    background-color: var(--Couleur-principale);
    border: none;
    width: 100%;
}
.mdp-oublie{
    float: right;
    margin-bottom: 30px;
}
.alert-danger{
    margin-top: 30px;
    margin-bottom: 0;
}

/************ Mentions legales *******************/

.fond-mentions-legales{
    background: no-repeat url("../img/fitness_large.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.mentions-legales {
    background-color: whitesmoke;
    max-width: 1000px;
    margin: auto;
    padding: 100px;
    border-radius:20px;
    opacity: 0.75;
    text-justify: auto;
}

.mentions-legales h1 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.mentions-legales h2 {
    color: var(--Couleur-principale);
    font-weight: bold;
    font-size: 30px;
    margin-bottom:10px;
}

.mentions-legales h3, h4{
    font-weight: bold;
    font-size: 25px;
    margin-bottom:10px;
}

.mentions-legales #article ul{
    margin:0 0 30px 50px;
}

.mentions-legales #article ul li{
    line-height: 2;
    list-style-position: outside;
    list-style: square;
}

.mentions-legales strong{
    font-weight: bold;
}

.mentions-legales p{
    margin-bottom: 30px;
    text-indent: 5%;
}

.mentions-legales .no-indent{
    text-indent: 0;
}


/*footer*/

footer{
    background-color: var(--Couleur-principale);
}
.reseaux{
    
}
.reseaux i{
    padding-top:20px;
    padding-right: 30px;
}
#colones{
    margin-left:-2%;
    height:auto;
    text-align: center;
}
.colone{
    float:left;
    width:31.3333333333333%;
    margin-left: 2%;
    background-color: tomato;
    vertical-align:middle;
    
}
.logo-bas{  
    padding-right: 15px;
}

/*bottom bar*/
.bottom-bar {
    width:100%;
    background-color: beige;
    text-align: center;
}
.bottom-bar p{
    padding-top: 10px;
}
.bottom-bar p span{
    color:red;
}
ul.nav-footer{  
    border:0;
}
.nav-footer li {
    display: inline-block;
}
.nav-footer li a {
    border:0px;
}
/*responsive*/

@media screen and (max-width: 860px) {
    /* #menu est le menu général */
    #menu {
        display:none;
    }
    .header-logo{
        padding-left: 35%;
    }
    .colone{
        width:100%;
    }  
    #hamburger-content {
        display: none;
    }
    #hamburger-button, #hamburger-sidebar,
    .hamburger-activated #hamburger-overlay {
        display: block;
    }
    .hamburger-activated #hamburger-sidebar {
        transform: translateX(0);
    }
    .colone{
        text-align: center;

    }
}

@media screen and (max-width: 820px){
    .formulaire {
        float: none;
        margin: 100px auto;
        width: 70%;
    }
}