html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-size:16px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* clear */
.clear:before,.clear:after { content:' '; display:table; }
.clear:after { clear:both; }
.clear { *zoom:1;}

*,
*:after,
*:before {
 -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
         box-sizing: border-box; /* Opera/IE 8+ */
}

/***************** Variable ************************/

:root {
    --Couleur-principale: #00B37E;
}

/***************** Style CSS ***********************/

.wrap {
    max-width: 1200px;
    width:100%;
}

/*header*/

header {
    background-color: var(--Couleur-principale);
    opacity: 0.96;
    height:100px;
    position:fixed;
    width: 100%;
    z-index: 100;
}

#logo{
    float:left;
    margin-top:10px;
}

#logo img{
    height:80px;
}

/*menu classique*/

#logo, nav, li {
    display: inline-block;
    line-height: 48px;
    vertical-align: top;
}

nav {
    margin-right: 30px;
}

.ul-nav li a, .button {
    text-decoration: none;
    color:white;
    
    border-radius: 15px;
    margin-left: 10px;
    padding: 5px;
}
.ul-nav li a:hover{
    color:rgba(255, 72, 19, 1);
    color:var(--orange);
}

#hamburger, #hamburger-content {
    display: inline;
}

#hamburger-content{
    float:right;
    margin-top:27px;
}

#hamburger-button {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 30px;
    line-height: 47px;
    float: right;
    margin-right: 32px;
    margin-top:19px;
}

#hamburger-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

#hamburger-sidebar {
    display: none;
    position: fixed;
    width: 84%;
    z-index: 20;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform .5s ease-in;
}

#hamburger-sidebar li {
    display: block;
}
#hamburger-sidebar-header {
    background-size: cover;
    height: 100px;
    text-align:center;
    background-color: white;
}
#hamburger-sidebar-header img{
    height:100%;
}

#hamburger-sidebar-body {
    padding: 16px 8px;
    background-color: rgba(122, 117, 117, 0.2);
    text-align: center;
}

#hamburger-sidebar-body li a{
    border:0px;
}

/*container accueil*/

.content-accueil{
    background-image: url(../img/fitness.jpg);
    height:550px;
}
.intro-form{
    padding-top:150px;

}
#search_sport_sport{
    width:100%;
}
#search_sport_ville{
    width:100%;
}
#recherche{
    width: 40%;
    margin:auto;
    padding:35px;
    border-radius:5px;
    box-shadow: -5px 5px 10px 2px rgba(0,0,0,0.75);
    font-weight: bold;
    opacity: 0.85;
}
.inputsport{
    
    display: inline-block;
    border-color: transparent;
    height: 40px;
    margin-right:-3px;
}
.inputville{
    display: inline-block;
    border-color: transparent;
    height: 40px;

}
.btrecherche{
    border-radius: 3px;
    border-color: transparent;
    width:100%;
    height: 40px;
    background-color:var(--Couleur-principale);
    color:white;
}
.btrecherche:hover{
    color:rgba(255, 72, 19, 1);
    color:var(--Couleur-orange);
}
.po{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color:white;
}
#sma{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin-top:10px;
    margin-bottom:10px;
}
/*************** coach parfait ***************/
#coach-parfait{
    
    width:80%;
}
#coach-parfait h2{
    text-align:center;
    font-size:30px;
    padding:50px 0 15px 0;
    margin-top:50px;
    font-weight: bold;
}
.parfait {
    margin-left:-2%;
    width:48%;
    float:left;
    margin-bottom:64px;
}
.parfait-texte{
    margin-top: 20px;
}
.parfait p{
    margin:20px 0 50px 0;
    font-size:1.5em;
}
.parfait a{
        margin-top: 70px;
        background-color:var(--Couleur-principale);
        color: white;
        padding: 11px;
        border-radius: 5px;
}
.parfait a:hover{
    color:rgba(255, 72, 19, 1);
    color:var(--Couleur-orange);
}
/************** accueil bloc coach *******************/
.fond-gris{
    background-color:grey;
    padding-top:5%;
    padding-bottom:3%;
}
 #big-bloc{
    width:80%;
    
    
} 
.identite{
    overflow:hidden;
}
.identite img{
    width:100%;
    border-radius:0 0 5px 5px; 
}
.identite img:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
    transition: transform 1s ease;
    border-radius:0 0 5px 5px;  z-index: 100;
}
li.identite {
	float:left;
	width:23%;
	margin-left:2%;	
	height:auto;
}
.bloc-coach{
	margin-left: -2%;
		
}
.nom-prenom{ 
    background-color:var(--Couleur-principale);
    border-radius: 10px 10px 0 0;
    margin-top: -3px;
	text-align: center;
    padding-top: 5px;
    
}
.nom-prenom a{
	color:white;
	font-weight: bold;
}
/*Inscription - connexion - contact*/

.fond-inscription {
    overflow: hidden;
    background:no-repeat url("../img/coureur.jpg");
    background-size: cover;
    background-position: top;
    height: 800px;
}

.fond-connexion {
    overflow: hidden;
    background:no-repeat url("../img/salle_fitness.jpg");
    background-size: cover;
    background-position: bottom;
    height: 800px;
}

.fond-contact{
    overflow: hidden;
    background:no-repeat url("../img/marche.png");
    background-size: cover;
    background-position: top;
    height: 800px;
}

.formulaire {
    margin: 250px 10%;
    width: 80%;
    padding: 20px 35px;
    background-color: ghostwhite;
    border-radius:5px;
    box-shadow: -5px 5px 10px 2px rgba(0,0,0,0.75);
    font-weight: bold;
}

.formulaire-inscription{
    opacity: 0.95;
}

.formulaire-connexion{
    opacity: 0.85;
}

.formulaire-contact{
    opacity: 0.90;
}

.titre-formulaire{
    padding: 20px 0 10px 20px;
}

#inputEmail {
    margin-bottom: 25px;
}

#inputPassword {
    margin-bottom: 40px;
}

.form-check{
    font-weight: normal;
}

#registration_form_Envoyer, .bouton-connexion {
    background-color: var(--Couleur-principale);
    color: white;
    font-weight: bold;
    border: none;
    width: 100%;
}

.mdp-oublie{
    float: right;
    margin-bottom: 30px;
    font-size: 15px;
}
.alert-danger{
    margin-top: 30px;
    margin-bottom: 0;
}

/************ Mentions légales *******************/

.fond-mentions-legales{
    overflow: hidden;
    background:fixed center url("../img/fitness_large.jpg");
    padding: 200px 0;
}

.mentions-legales {
    margin: auto;
    background-color: whitesmoke;
    max-width: 1000px;
    padding: 100px;
    border-radius:20px;
    opacity: 0.75;
}

.mentions-legales h1 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.mentions-legales h2 {
    color: var(--Couleur-principale);
    font-weight: bold;
    font-size: 30px;
    margin-bottom:10px;
}

.mentions-legales h3, h4{
    font-weight: bold;
    font-size: 25px;
    margin-bottom:10px;
}

.mentions-legales ul{
    margin:0 0 30px 50px;
}

.mentions-legales ul li{
    line-height: 2;
    list-style-position: outside;
    list-style-type: square;
}

.mentions-legales strong{
    font-weight: bold;
}

.mentions-legales p{
    margin-bottom: 30px;
    text-indent: 5%;
}

.mentions-legales .no-indent{
    text-indent: 0;
}


/*footer*/

footer{
    background-color: var(--Couleur-principale);
}
.reseaux i{
    padding-top:20px;
    padding-right: 30px;
    float:left;
}
#colones{
    margin-left:-2%;
    text-align: center; 
}
.colone{
    float:left;
    width:48%;
    margin-left: 2%;    
}
.reseaux{
    margin-top:8%;
    margin-left:30px;
    color:white;
}
.propos-colone{
    margin-top: 8%;
    color:white;
}
.logo-bas{
    padding-right: 15px;
    float:right;
}

/*bottom bar*/
.bottom-bar {
    width:100%;
    background-color: white;
    text-align: center;
}

.bottom-bar p{
    padding-top: 10px;
   color:black;
}

ul .nav-footer{
    border:0;
    
}

.nav-footer li {
    display: inline-block;
   
}

.nav-footer li a {
    border:0px;color:black;
}

/********** Calendrier*******************/
#calendrier_sportif{
    visibility: hidden;
    display:inline;
}

label.calendrier_sportif{
    display:none;
}
/************ Profil *******************/


#contenue{
margin-top:10%;
width:33.333333333333333333%;
float:left;
padding:10px;
}

.wrap{
	margin:0 auto;
	max-width: 1200px;
	width:100%;
}

#profil{margin-left:-2%;}

.profil{width:31.333333333333%; height:100px; margin-left:2%;float:left;position: relative;color:rgb(37, 26, 26);}


div.profil.test{
    background-color:coral;
}

.nom{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

color:rgb(37, 26, 26);
}

.profil {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 300px;
margin: auto;
text-align: center;
}

.nom {
color: grey;
font-size: 18px;
}

.description{
max-width: 300px;
margin: auto;
text-align: center;
}

.prenom {
color: grey;
font-size: 18px;
}

a {
list-style: none !important;
text-decoration: none !important;
font-size: 22px;
color: black;
}

/* a:hover {
opacity: 0.7;
} */

#edit_front_user_submit:hover{ opacity: 0.3;
}

 .colone a{
    font-size:15px;
    color:rgba(255, 72, 19, 1);
}
.colone a:hover{
    color:black;
}
 /*************************bloc texte**********************/
#bloc-texte{
    border: solid 1px black;
    border-radius:20px;
    width:60%;
    text-align:center;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}
#bloc-texte h2{
    text-align:center;
    font-weight:bold;
    font-size:2em;
    margin-bottom: 1em;
}
#bloc-texte p{
    font-size:2em;

}
#bloc-texte a{
    font-size:1em ;
    color:rgba(255, 72, 19, 1);
}
#bloc-texte a:hover{
    color:black;
}
/*responsive menu*/

@media screen and (max-width: 960px){
    /* #menu est le menu général */
    #menu{
        display:none;
    }
    .header-logo{
        padding-left: 35%;
    }
    #hamburger-content {
        display: none;
    }
    #hamburger-button, #hamburger-sidebar,
    .hamburger-activated #hamburger-overlay {
        display: block;
    }
    .hamburger-activated #hamburger-sidebar {
        transform: translateX(0);
    }
    .colone{
        text-align: center;
        width:100%;
    }
    
    li.identite {
		width:45%;
		padding-bottom:15px;
    }
    .parfait{
        width:90%;
        padding-left:10%;
        text-align:center;
    }
    .parfait-texte{
        margin-left:4%;
    }
    

}

@media screen and (max-width:500px) {
    .profil {width:96%; 
    }
    #profil {margin-left:0
    }
    li.identite {
		width:96%;
		padding-bottom:15px;
	}
    
}

@media screen and (max-width:900px) {
    .profil {width:48%;
    }
}

@media screen and (min-width: 1050px){
    .formulaire {
        float: right;
        margin: 250px 5%;
        width: 40%;
    }
    
}
