
/********************************************************************************************************************************************/
/************ Profil *******************/
#localization{
    width:50px;
}

#niveau{
    width: 60px;
}

#contenue{
margin-top:10%;

float:left;
padding:10px;
}

#id-coach, #formation, #experience {
    width: 33%;
    vertical-align: top;
    display: inline-block;
}

#wrap{
    padding-top: 100px;
}

#contentRegistered #id-coach, #contentRegistered #formation, #contentRegistered #experience {
    width: 33%;
}

.comp span{
    padding: 2px 17px 4px;
    border: 2px solid #f096cc;
    margin: 9px 3px;
    color: #f096cc;
    font-weight: bold;
    border-radius: 19px;
    display: inline-block;
}

.comp span a{
    color: #f096cc;
}

h3{
    margin: 15px 0 5px !important;
}



#mot-coach a {
    border-radius :10px 10px 0 0;
    font-weight: bold;
    text-decoration: underline;
    color: white;
    padding:100px;
}

#id-coach p img.etoiles{
    width: 125px;
    margin-top: 5px;
}




#pict-coach, .pict-coach {
    border-radius: 50%;
    width: 140px;
    height:140px;
    margin: 0 auto 10px;
    display: block;
}



#top-coach {
    padding: 50px 0 40px 0;
    max-width: 1003px;
    margin: auto;
}

#id-coach p, .coachBDP p {
    width: 100%;
    margin: auto;
    text-align: center;
}

#id-coach p img, .coachBDP p img {
    position: relative;
    width: 14px;
    top: 3px;
}

#id-coach p:nth-of-type(1), .coachBDP p:nth-of-type(1) {
    font-size: 22px;
    font-weight: bold;
}

#id-coach p:nth-of-type(3), .coachBDP p:nth-of-type(3) {
    margin-top: 5px;
}

#experience p, #formation p {
    width: 100%;
   padding-top:10px;
    margin: 0 5px 20px 70px;
    font-size: 20px;
}

#localization{
    width:50px;
}

#commande a {
    display: inline-block;
    font-family: normal;
    margin-top: 15px;
    background-color: rgba(236, 133, 195, 0.86);
    padding: 7px 14px;
    border-radius: 2px;
    color: white;
}


#experience p:nth-of-type(2), #formation p:nth-of-type(2) {
    
    font-weight: bold;
    margin-bottom: 20px;
}

#experience p:nth-of-type(1) img, #formation p:nth-of-type(1) img {
    font-size: 22px;
    position: relative;
    width: 30px;
    top: 9px;
}

#mot-coach {
  border-radius:10px 10px 0 0;

    width: 70%;
    margin: 40px auto;
    color: white;
    padding: 50px 50px 77px;
    background-color: #373837;
    border: 30px solid rgb(0, 179, 126);
}

#contentRegistered #mot-coach {
    width: 80%;
    margin-bottom: 3em;
}

section {
    margin-bottom: 0;
}

h2 {
    text-align: center;
    margin-bottom: 75px;
}

h2 img {
    position: relative;
    width: 40px;
    top: 19px;
    left: -7px;
}

#mot-coach p {
    width: 80%;
    margin: auto;
}

#decouvrir {
    text-align: center;
}

#decouvrir, #pagination {
    width: 49.5%;
    display: inline-block;
    vertical-align: top;
    padding: 45px 0 55px;
    font-size: 1.2em;
    font-weight: bold;
}

#decouvrir img {
    display: block;
    width: 180px;
    height: auto;
    margin: 0 auto 29px;
}

#decouvrir a {
    background-color: rgba(236, 133, 195, 0.86);
    padding: 7px 25px;
    border-radius: 2px;
    color: white;
}

#ville{
    text-align: center;
    margin: 2em 0 3em 0;
}

#ville a {
    background-color: rgba(236, 133, 195, 0.86);
    padding: 7px 25px;
    border-radius: 2px;
    color: white;
}

.coach_profil_msg a {
    text-decoration: underline;
}

#pagination {
    margin: 0;
    padding-top: 15px
}

#pagination p {
    margin: auto;
    text-align: center;
}

#pagination p a {
    display: inline-block;
    background-color: #F8F9FA;
    padding: 4px 14px;
    margin: 22px 42px;
}

.coach_profil_msg {
    text-align: center;
    font-family: normal;
    margin-bottom: 2em;



@media screen and (min-width: 1050px){
    .formulaire {
        float: right;
        margin: 250px 5%;
        width: 40%;
    }

    @media screen
and (max-width: 1024px) {


    #experience p:nth-of-type(2), #formation p:nth-of-type(2) {
        margin-bottom: 15px;
    }

    #experience p, #formation p {
        margin: 80px 0 5px 500px;
    }

 

    #top-coach {
        padding: 0px 0 70px 100px;
    }


    #formation, #contentRegistered #formation, #experience, #contentRegistered #experience {
        width: 100%;
    }

    #mot-coach {
        padding: 24px 0 50px;
    }

    #mot-coach p {
        width: 80%;
    }


}


@media screen
and (max-width: 768px) {


 


    #mot-coach {
        padding: 3px 0 30px;
        border: none;
    }

    #mot-coach, #contentRegistered #mot-coach {
        width: 90%;
    }
}


@media screen
and (max-width: 568px) {
    #id-coach
    {
        width:100%
    }

 

    .wrapper{
        width: 360px;
        height: 202.5px;
    }

   

    #formation, #experience, #contentRegistered #formation, #contentRegistered #experience {
        width: 50%;
        margin-top: 23px;
    }

    #experience, #contentRegistered #experience {
        margin-left:100px;
        margin-top: 66px;
        width: 50%;
    }

 

    #mot-coach p {
        width: 88%;
        font-size: 0.9em;
    }




}

@media screen
and (max-width: 413px) {
    #id-coach
    {
        width:100%
    }
    .wrapper{
        width: 300px;
        height: 168.75px;
    }


    #mot-coach{
        width: 99%;
    }


    
}