html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* clear */
.clear:before,.clear:after { content:' '; display:table; }
.clear:after { clear:both; }
.clear { *zoom:1;}

*,
*:after,
*:before {
 -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
         box-sizing: border-box; /* Opera/IE 8+ */
}

/************* USER **********************/

.bouton-perso-user {
    margin: 10px 0 0 10px;
    background-color: #007bff;
    color: white;
    padding: 11px;
    border-radius: 5px;
    float: left;
}

/*************  Index User *********************/

.title-index-user {
    margin-left: 50px;
    font-size: 50px;
    font-weight: bold;
    color: orangered;
}

.index-user {
    margin-bottom: 0;
}

.bouton-inex-user{
    margin: 10px 0 20px 10px;
    background-color: #007bff;
    color: white;
    padding: 11px;
    border-radius: 5px;
}

.pagination {
    margin-left: 5px;
}

/*************  Show User *********************/

.title-show-user {
    margin-left: 40px;
    font-size: 50px;
    font-weight: bold;
    color: orangered;
}



.title_edit_user {
    margin-left:50px;
    font-size: 50px;
    font-weight: bold;
    color: orangered;
}

.label-edit div label, .label-edit fieldset legend {
    font-weight: bold;
}

/*************  Edit User *********************/

.btn-edit-user {
    margin: 10px 0 0 10px;
    border-radius: 5px;
}

/*************  Delete User *********************/

.btn-suppr {
    margin: 10px 0 0 10px;
    border-radius: 5px;
}