{{ form_start(form) }}
    <div class="form-calendrier row">
        <div class="label-new col-sm-12 col-md-12 col-lg-6">
            {{ form_row(form.sport) }}
        </div>
    </div>
    <div class="form-group">
        <button class="btn-edit btn btn-primary" type="submit">
            Envoyer
        </button>
    </div>
{{ form_end(form) }}
