{% extends 'back.html.twig' %}

{% block title %}New Calendrier{% endblock %}

{% block body %}
    <h1>Create new Calendrier</h1>


           
      
  


    {{ include('calendrier/_form.html.twig') }}

    <a href="{{ path('calendrier_index') }}">back to list</a>
{% endblock %}

    {% block javascripts %}
    {# lancer le datepicker date de commencement avec les icônes qui vont avec  #}
    <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                    },
                   //format:  'yyyy-mm-dd HH:mm'
                });
            
            });


        </script>

        

        <script type="text/javascript">


  $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $(function () {
                $('#datetimepicker1').datetimepicker();
            });
      });
</script>


  {# lancer le datepicker date de fin avec les icônes qui vont avec  #}
    <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker({
                     language: 'fr',
                    icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                    },
                   //format:  'yyyy-mm-dd HH:mm'
                });
            
            });
        </script>


        <script type="text/javascript">


  $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $(function () {
                $('#datetimepicker2').datetimepicker();
               
});

       
</script>

            
   

   
        {% endblock %}