{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}
{% block stylesheets %}<link href="{{ asset('asset_front/css/style_mentions_legales.css') }}" rel="stylesheet"/>{% endblock %}

{% block body %}
    <!-- Article -->
    <div class="fond-mentions-legales">
        <div class="texte mentions-legales">

            <h1>Mentions légales</h1>

            <p>Bienvenue sur le site FindYourCoach.fr ! Mis en ligne depuis Juillet 2019, le site est presque exclusivement dédié à la mise en relation de sportif et de coach.</p>

            <h2>Copyright du site</h2>
            <p>La copie des textes du site FindYourCoach.fr n'est pas autorisée sans l'accord de l'éditeur du site. Pour toute demande, nous contacter : <a href="#">Formulaire de contact</a>.</p>

            <p>Tous les <strong>droits de reproduction</strong> et de représentation sont
                réservés et la propriété exclusive de du site.
                L’utilisation, la reproduction, la transmission,
                modification, rediffusion ou vente de toutes les
                informations sur ce site (textes et articles)
                sur un support quel qu’il soit, ou encore la diffusion sur
                tout autre site Internet notamment forum, et ce dans le
                cadre d’une utilisation à caractère commercial ou non
                lucrative sont formellement interdites sans l’autorisation
                de l'éditeur.</p>

            <p>Nous utilisons les services de <strong>Copyscape</strong>
                pour détecter les copies sur la toile.
                Pour partager les informations contenues sur
                FindYourCoach.fr, utilisez simplement les liens hypertextes. Veuillez
                également ne pas
                utiliser le nom <b>FindYourCoach</b> pour vos titres de page, tags ou autres
                descriptions.</p>

            <h2>Données personnelles</h2>
            <p>Conformément à la loi Informatique et Libertés du 6 Janvier 1978, vous disposez d'un droit d'accès,
                de rectification, de modification et de suppression des données personnelles que vous nous avez communiquées.
                Vous pouvez exercer ce droit en nous envoyant votre demande via le <a href="#">formulaire de contact</a> du site.</p>

            <h2>Cookies</h2>
            <p>En vue d’adapter notre site aux demandes de ses visiteurs, nous mesurons le nombre de visites, le nombre de pages vues ainsi que l'activité des visiteurs sur le site et leur fréquence de retour.</p>
            <p>Nous utilisons les outils de statistiques de Google Analytics qui génèrent des cookies avec un identifiant unique, dont la durée de conservation est limitée à 13 mois. Les outils utilisés collectent également votre adresse IP, afin de déterminer la ville depuis laquelle vous vous connectez. Celle-ci est immédiatement rendue anonyme après utilisation. Nous ne pouvons  donc en aucun cas remonter par ce biais à une personne physique.</p>
            <p class="no-indent">Les données recueillies ne sont pas cédées à des tiers ni utilisées à d'autres fins.</p>
            <p>Lors de la consultation de notre site, des informations peuvent être enregistrées dans des fichiers, appelés "Cookies", qui sont installés dans votre ordinateur, tablette ou téléphone mobile. Cette page permet de comprendre ce qu’est un Cookie, à quoi il sert et comment on peut le paramétrer.</p>

            <h3>1. Définition d’un Cookie</h3>
            <p>Un cookie est une information stockée (ordinateur, tablette, téléphone mobile ou tout autre appareil optimisé pour Internet), à notre demande sur votre navigateur, lors de la consultation d’un contenu ou d’une publicité en ligne et que nous pourrons lire lors de vos visites ultérieures.</p>
            <p>Ce cookie déposé ne peut être lu que par son émetteur. Il permet d’identifier votre terminal dans lequel il est enregistré, pendant une durée de validité limitée.</p>

            <h3>2. Utilisation des cookies</h3>
            <p>Nous utilisons plusieurs types de Cookies, répondant aux finalités décrites ci-dessous, susceptibles d’être enregistrés dans votre terminal à l’occasion d’une visite sur notre site :</p>
            <p>a. <strong>Les Cookies techniques</strong> sont nécessaires à la navigation dans notre site. Les Cookies techniques permettent en particulier de vous reconnaître, de signaler votre passage sur telle ou telle page et ainsi d’améliorer votre confort de navigation. Les cookies techniques sont également utilisés par l’application aux fins de mémorisation des villes favorites que vous avez choisies. Ces cookies techniques, stockés sur le navigateur que vous utilisez, peuvent être supprimés à tout moment à votre initiative en activant l’effacement des cookies dans les réglages de votre navigateur.</p>
            <p>b. <strong>Les Cookies de mesure d’audience</strong> sont émis par nos prestataires techniques aux fins de mesurer l’audience des différents contenus et rubriques de notre site, afin de les évaluer et de mieux les organiser. Ces Cookies permettent également, le cas échéant, de détecter des problèmes de navigation et par conséquent d’améliorer l’ergonomie de nos services. Ces Cookies ne produisent que des statistiques anonymes et des volumes de fréquentation, à l’exclusion de toute information individuelle. La durée de vie de ces Cookies de mesure d’audience n’excède pas 13 mois.</p>
            <p>c. <strong>Les Cookies publicitaires</strong> sont émis par nos partenaires régies, dans les espaces publicitaires de notre site, l’exploitation de ces espaces contribuant au financement des contenus et des services que nous mettons gratuitement à votre disposition.</p>

            <p>Ces Cookies sont déposés par nos partenaires dans le cadre de partenariats publicitaires aux termes desquels les régies peuvent être amenées à collecter des données concernant les contenus consultés sur notre site, dans le respect des dispositions de la Loi Informatique et Libertés de 1978. Ces Cookies permettent tout d’abord de comptabiliser le nombre total de publicités affichées dans nos espaces publicitaires, d’identifier ces publicités, le nombre d'utilisateurs ayant cliqué sur chaque publicité et, le cas échéant, les actions ultérieures effectuées par ces utilisateurs sur les pages auxquelles mènent ces publicités, afin de calculer les sommes dues aux acteurs de la chaîne de diffusion publicitaire (agence de communication, régie publicitaire, site/support de diffusion) et d'établir des statistiques.</p>
            <p>Ces Cookies publicitaires permettent également d’adapter les contenus publicitaires affichés sur votre terminal dans nos espaces publicitaires, selon la navigation de votre terminal dans notre site, voir, le cas échéant, en fonction des données de localisation (longitude et latitude) transmises par votre terminal avec votre accord préalable (publicité comportementale). Ainsi, vous pouvez visualiser la publicité qui nous semble la plus adaptée à votre profil anonyme d’utilisation de votre terminal. Ces Cookies peuvent aussi permettre de limiter le nombre de fois où vous voyez une même publicité sur un même support et d’adapter les contenus publicitaires affichés sur votre terminal dans nos espaces publicitaires en fonction des données personnelles que vous auriez pu volontairement fournir (ciblage publicitaire). La durée de vie de ces Cookies publicitaires n’excède pas 13 mois.</p>

            <h3>3. Choisir les cookies</h3>
            <p>En utilisant notre site, vous consentez à l’utilisation des Cookies ci-dessus. Vous pouvez toutefois choisir à tout moment de désactiver tout ou partie de ces Cookies, à l’exception des Cookies techniques nécessaires au fonctionnement du site. Votre navigateur peut également être paramétré pour vous signaler les Cookies qui sont déposés dans votre terminal et vous demander de les accepter ou pas.</p>

            <h4>A. Refuser un Cookie avec votre logiciel de navigation</h4>
            <p>Vous pouvez à tout moment choisir de désactiver tout ou partie des Cookies. Votre navigateur peut également être paramétré pour vous signaler les Cookies déposés dans votre terminal et demander de les accepter ou non (au cas par cas ou en totalité). Nous vous rappelons toutefois que la désactivation de tous les Cookies vous empêchera d’utiliser notre site dans des conditions normales, à l’exception des fonctions basiques.</p>
            <p class="no-indent"><strong>Google Chrome : <a href="https://support.google.com/accounts/answer/61416?hl=fr">https://support.google.com/accounts</a></strong></p>

            <ul>
                <li>Sélectionnez l'icône du menu Chrome</li>
                <li>Sélectionnez Paramètres</li>
                <li>En bas de la page, sélectionnez Afficher les paramètres avancés</li>
                <li>Dans la section "Confidentialité", sélectionnez Paramètres de contenu</li>
                <li>Sélectionnez Interdire à tous les sites de stocker des données</li>
                <li>Sélectionnez OK</li>
            </ul>

            <p class="no-indent"><strong>Safari : <a href="https://support.apple.com/kb/PH21411?viewlocale=fr_FR&amp;locale=fr_CA">https://support.apple.com/</a></strong></p>
            <ul>
                <li>Choisissez Safari</li>
                <li>Allez dans Préférences puis cliquez sur Confidentialité</li>
                <li>Puis effectuez l’une des opérations suivantes, pour définir les cookies et les données de sites web acceptés, en sélectionnant une option relative aux « Cookies et données de site web » :    </li>
            </ul>

            <p>Ⅰ. Toujours bloquer : Safari ne permet à aucun site web, tiers ni annonceur de stocker des cookies et autres données sur votre Mac. Cela peut empêcher certains sites web de fonctionner correctement</p>
            <p>ⅠⅠ. Autoriser à partir du site web actif uniquement : Safari accepte les cookies et les données de sites web provenant uniquement du site que vous visitez actuellement. Les sites web intègrent souvent du contenu provenant d’autres sources. Safari ne permet pas à ces tiers de stocker ou de consulter des cookies et autres données</p>
            <p>ⅠⅠⅠ. Autoriser à partir des sites web que j’ai visités : Safari accepte les cookies et les données de sites web provenant uniquement des sites que vous avez visités. Safari utilise vos cookies existants pour déterminer si vous avez visité un site web. Sélectionnez cette option pour empêcher les sites web qui ont intégré du contenu aux autres sites que vous consultez de stocker des cookies et des données sur votre Mac.</p>
            <p>Toujours autoriser : Safari permet à tous les sites web, tiers et annonceurs de stocker des cookies et autres données sur votre Mac.</p>
            <p class="no-indent"><strong>Mozilla : <a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies">https://support.mozilla.org</a> <br /></strong></p>

            <ul>
                <li>Cliquez sur le bouton de menu et sélectionnez Options</li>
                <li>Sélectionnez le panneau Vie privée</li>
                <li>Dans la zone Historique, pour l'option Règles de conservation, sélectionnez utiliser les paramètres personnalisés pour l'historique</li>
                <li>Cochez la case Accepter les cookies pour activer les cookies, ou décochez-la pour les désactiver</li>
            </ul>

            <p class="no-indent">Le fait de bloquer les cookies peut empêcher certaines pages Web de s’afficher correctement.</p>
            <p class="no-indent"><strong>Internet explorer : <a href="http://windows.microsoft.com/fr-fr/windows-vista/block-or-allow-cookies">http://windows.microsoft.com/</a> <br /></strong></p>
            <ul>
                <li>Pour ouvrir Internet Explorer, cliquez sur le bouton Démarrer, puis sur Internet Explorer</li>
                <li>Cliquez sur le bouton Outils, puis sur Options Internet</li>
                <li>Cliquez sur l’onglet Confidentialité, puis sous Paramètres, déplacez le curseur vers le haut pour bloquer tous les cookies ou vers le bas pour autoriser tous les cookies, puis cliquez sur OK.  </li>
            </ul>

            <p class="no-indent">Le fait de bloquer les cookies peut empêcher certaines pages Web de s’afficher correctement.</p>

            <h4>B. Refuser un Cookie d’audience</h4>
            <p>Sur notre site, les Cookies d’audience sont déposés par Google. Si vous ne souhaitez pas que notre site enregistre des Cookies dans votre navigateur à des fins de calcul d’audience, vous pouvez cliquer sur les liens de désactivation suivants qui enregistreront au sein de votre navigateur un Cookie ayant pour unique objet de les désactiver :</p>
            <p><a href="http://www.google.com/intl/fr/policies/privacy/partners/">http://www.google.com/partners/</a></p>
            <p>Attention, ces Cookies permettent de mesurer le trafic ou l’audience, associés à notre site internet, aux pages visitées et aux interactions réalisées sur le Site lors de votre visite. Les désactiver empêche donc toute collecte d’informations relatives à votre navigation sur notre Site et donc la proposition de contenus adaptés en fonction de votre navigation.</p>

            <h4>C. Refuser un Cookie publicitaire</h4>
            <p>Vous pouvez gérer l’utilisation et l’exploitation de ces Cookies en vous rendant sur la plateforme de gestion des Cookies publicitaires proposée par les professionnels de la publicité : <a href="http://www.youronlinechoices.com/fr/controler-ses-cookies/">http://www.youronlinechoices.com</a> et en suivant les instructions qui y sont données. Vous pourrez ainsi connaître les entreprises inscrites à cette plateforme, lesquelles vous offrent la possibilité de refuser ou accepter les Cookies utilisés par elles pour adapter à vos informations de navigation, les publicités susceptibles d’être affichées.</p>
            <p>Certains Cookies aux fins de publicité comportementale sont déposés par des prestataires tiers partenaires. Vous pouvez également cliquer sur les liens suivants pour en savoir plus sur leurs pratiques et exercer votre choix :</p>

            <ul>
                <li>Cookies Rubicon: <a href="http://www.rubiconproject.com/privacy/consumer-online-profile-and-opt-out/">http://www.rubiconproject.com</a></li>
                <li>Cookies Smart AdServer : <a href="http://smartadserver.fr/privacy-policy">smartadserver.fr</a></li>
                <li>Cookies DoubleClick for Publishers  <a href="https://www.google.com/settings/u/0/ads/authenticated">https://www.google.com/settings</a></li>
                <li>Cookies Appnexus : <a href="http://www.appnexus.com/en/company/platform-privacy-policy-fr">http://www.appnexus.com</a></li>
                <li>Cookies Ligatus : <a href="https://www.ligatus.fr/politique-de-confidentialite">https://www.ligatus.fr</a></li>
            </ul>

            <p class="no-indent">Attention :</p>
            <ul>
                <li>Procéder à une désactivation empêchera l’affichage de toutes publicités ciblées par centres d’intérêt mais vous continuerez à recevoir les autres publicités. Désactiver ces Cookies empêche la collecte d’information permettant un meilleur ciblage publicitaire lors de vos visites : des encarts vides s’afficheront à la place de ces publicités ciblées.</li>
                <li>La prise en compte de vos différents souhaits repose sur un Cookie ou plusieurs Cookies déterminés. Si vous supprimez tous les Cookies enregistrés au sein de votre terminal concernant notre site, nous ne saurons plus quel consentement vous avez émis. Cela reviendra donc à réinitialiser le consentement et vous devrez donc à nouveau refuser le ou les Cookies que vous ne souhaitez pas conserver. De même, si vous utilisez un autre navigateur Internet, vous devrez à nouveau refuser ces Cookies.</li>
            </ul>

        </div>
    </div>
    <!-- Fin Article -->
{% endblock %}
