{% extends 'back.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1 class="title-user">Créer un utilisateur</h1>

    {{ include('user/_form_new.html.twig') }}

    <a href="{{ path('user_index') }}">Retour a la liste</a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('asset_back/js/autocompletion_adresse.js') }}"></script>
{% endblock %}
